<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>User:</b>
  <%= @gallery.user_id %>
</p>

<% @gallery.photos.each do |photo| %>
  <%= image_tag photo.image.url(:thumb) %>
<% end %>

<%= link_to 'New Image', new_gallery_photo_path(@gallery) %>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>